#o-carousel-product .carousel-outer .carousel-inner img{
    width: 76% !important;
    border: 1px #FFC500 solid;
}
.variant_attribute {
    display: none !important;
}
.text-muted.mt-3{
    display: none;
}