#o-carousel-product .carousel-outer .carousel-inner img{
    width: 76% !important;
    border: 1px #FFC500 solid;
}
.variant_attribute {
    display: none !important;
}
.menu-shop-tool{
    display: none;
}
.navbar-expand-md .navbar-nav {
    align-items: center !important;
}
a.nav-link[href="/web/login"]{
    visibility: hidden;
    &::after{
        content: "Iniciar Sesión";
        visibility: visible;
    }
}
a.nav-link[href="/shop"]{
    color: black !important;
    font-weight: bolder;
    font-size: initial;
    background-color: #FFC500;
    border-color: #FFC500;
    line-height: 1.5;
    border-radius: 0.3rem;
    margin-top: 6px;
    &:hover{
        .menu-shop-tool{
            display: flex;
        }
    }
}
.product_attributes_simple{
    display: none;
}
div.oe_structure.oe_empty.mt16{
    display: none;
}