#o-carousel-product .carousel-outer .carousel-inner img{
    width: 76% !important;
    border: 1px #FFC500 solid;
}
.variant_attribute {
    display: none !important;
}
.oe_structure.oe_empty.mt16{
    display: none;
}